/*  ------------------ App Layout ------------------   */

:root {
  --section-spacing: 8vh;
}

.App {
  text-align: center;
  font-family: 'system-ui';
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-image: linear-gradient(to bottom, #fafafa, #dadbdb);
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

/*  ------------------ Header ------------------   */

header {
  border-bottom: 3px solid #f3f4f6;
  background-color: #fff;
  box-shadow: 0 10px 15px 0 rgb(240, 240, 240);
}

.header-box {
  height: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-box h1 {
  font-size: clamp(1.75rem, 3.5vw, 3.6rem);
  margin: 0;
}

.header-box p {
  font-size: clamp(0.75rem, 1.25vw, 1.25rem);
  margin: 0.5rem 0 0;
  padding: 0 4rem;
  color: #4b5563;
}

/*  ------------------ Main Content ------------------   */

.main-content-container {
  width: 100%;
  max-width: clamp(1000px, 57vw, 1424px);
  margin: 0 auto;
}

section {
  margin: var(--section-spacing) 0;
}

.energy-mix-section {
  margin-top: 5vh;
  position: relative;
}

/*  ------------------ Loading Banner ------------------   */

.loading-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 14px 40px;
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 1;
  font-size: clamp(1rem, 1vw, 1.125rem);
  font-weight: 600;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: default;
  box-sizing: border-box;
}

.loading-banner p {
  margin: 0;
}

.loading-banner.error {
  background-color: #ef4444;
  cursor: pointer;
}

.loading-banner.error:hover {
  background-color: #dc2626;
}

.loading-banner.error p {
  color: #ffffff;
}

/*  ------------------ Loading Banner ------------------   */

.footer {
  color: #666;
  font-size: 14px;
}